body{
    background-color: #cbf3f0;
}
.isi{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}
.child h1{
    font-size: 200px;
    font-family: monospace;
    text-align: center;
    color: #2ec4b6;
}
.child h2{
    text-align: center;
    font-weight: bold;
    color: #ff9f1c;
}
p{
    color: #293241  ;
}